body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
}

#hero {
  width: 626px;
  margin: 64px auto 64px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #3f3d56;
  margin: 64px 0 32px;
}

h1 span {
  font-weight: bold;
  color: #ee24ff;
}

p {
  margin: 0;
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

span, a {
  font-weight: bold;
  color: #3f3d56;
  text-decoration: none;
}

.line {
  width: 568px;
  height: 0px;
  margin: 0 auto 16px;
  border: 1px solid #eceff2;
}

.footer a + a {
  margin-left: 42px;
}

#wave {
  position: fixed;
  width: 100%;
  bottom: 0px;
  right: 0px;
}
